[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pygsheets = "*"
pytest = "*"
pyaml = "*"
gql = "==3.0.0a5"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
